.blog-page{
  .content {
    text-align: left;
    font-size: 20px;
  }

  .content-heading {
    margin-top: 0px;
    text-align: left;
    font-size: 50px;
    margin-bottom: 50px;
  }

  .content-text {
    text-align: left;
    line-height: 1.48;
    margin-bottom: 35px;
  }

  .line {
    margin-top: 61px;
    border: solid 1px #dbdbdb;
    width: 100%;
  }

  .blog {
    display: block;
  }

  .blog-date {
    margin-top: 80px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .blog-heading {
    text-align: left;
    font-size: 30px;
    margin-bottom: 21px;
  }

  .blog-entry {
    text-align: left;
    font-size: 20px;

  }

  .blog-text {
    margin-top: -20px;
    font-size: 15px;
    text-align: left;
  }

  .line-bottom {
    margin-top: 150px;
  }

  .thin-font{
    font-size: 14px;
    letter-spacing: 2.2px;
  }

  @media only screen and (max-width: 1023px) {
    .button-navigation-mobile {
      margin-top: -10px;
    }

    .blog-entry {
      text-align: left;
      font-size: 20px;
    }

    .content-text {
      font-size: 20px;
      text-align: left;
      line-height: 1.48;
    }
    .content-heading {
      margin-top: 50px;
      text-align: left;
    }

    .line {
      margin-top: 61px;
      width: 100%;
      border: solid 1px #dbdbdb;
    }

    .line-bottom {
      margin-top: 100px;
    }

    .thin-font a{
      color: #303030;
    }

  }
  @media only screen and (max-width: 767px) {
    .blog {
      display: block;
    }

    .blog-entry {
      text-align: left;
    }

    .blog-heading{
      font-size: 26px;
    }

    .blog-text{
      font-size: 12px;
    }

    .content {
      display: block;
      text-align: left;
    }

    .content-text {
      text-align: left;
      font-size: 14px;
    }

    .content-heading {
      margin-top: 50px;
      text-align: left;
    }

    .line {
      margin-top: 61px;
      border: solid 1px #dbdbdb;
    }

    .line-bottom {
      margin-top: 100px;
    }
  }
}