.blog-page {
  .content-heading { margin-bottom:15px;}
}

.blog {
  margin-top:75px;
  .blog-entry {
    padding-bottom:35px; margin-bottom:65px; border-bottom:1px solid #dbdbdb;
    .blog-heading {font-size: 38px;margin-bottom: 21px; font-family:$lightFontFamily;}
    .button-reading {font-family:$boldFontFamily; margin-top:50px; display:inline-block;}
    .blog-date {font-size: 14px; color:#9c9494;margin-bottom: 35px; letter-spacing:1px;}
    .blog-text { max-width:1050px; width:100%;}
  }
}

.blog-pagination {
  padding:0; margin:0;
  li {
    display:inline-block; margin-right:8px;
    a { font-size:18px;}
    &.active {
      a {text-decoration:underline; font-family:$boldFontFamily;}
    }
    &:last-child { margin-right:0;}
  }
}