.back { font-family:$boldFontFamily; text-decoration:underline; margin-top:60px; display:inline-block;}

.books {
  margin-left:-35px; margin-right:-35px; margin-top:85px; position:relative; padding:0;
  .book {
    display:inline-block; width:25%;text-align: center; border-bottom:1px solid #dbdbdb; padding-bottom:60px; margin-bottom:75px;
    a {text-decoration:none; display:block; padding:0 35px;}
    .image {
      @include transition(all .3s);
      img { width:100%;}
    }
    .title {margin-top:25px;}
    .author { color:#9c9494;}
    &:hover {
      .image {@include transform(translateY(-5px)); opacity:0.8;@include transition(all .3s);}
    }
  }
}
.collection-page {
  .content-heading { margin-bottom:15px; }
  p { max-width:950px; width:100%; }
}

.no-line { position:absolute; width:100%; height:20px; background:#FFF; bottom:60px; left:0;}

.book-header {
  padding-bottom:20px; margin-bottom:70px;border-bottom:1px solid #dbdbdb;
  .bio { color:#9c9494; margin-top:25px;}
  .content-heading {
    font-size:36px;line-height: 1em;
    &:first-child { margin-top:15px;}
  }
}

.book-slider {
  margin-left:0; padding:0; width:100%;
  li {
    list-style:none;
    img {width:100%;padding: 0 25px;}
    &:focus { outline:0;}
  }
  .slick-dots {margin-top:25px;}
  .slider-arrow-left, .slider-arrow-right { margin-top:-30px;}
  &:after { content:''; width:30px; height:28px; background:url(../img/zoom.svg) no-repeat top left; -webkit-background-size:100%; background-size:100%; position:absolute; bottom:78px; right:50px;}
}

.book-page {
  .content-grid {
    .enhavo_grid {
      .enhavo_grid_texttext, .enhavo_grid_text{
        .title {
          font-size:38px; font-family:$lightFontFamily; margin-bottom:20px; cursor:pointer; display: inline-block;
          &:after { content:'';display:inline-block; margin-left:15px; width:40px; height:22px; background:url(../img/arrow.svg) no-repeat; -webkit-background-size:cover; background-size:cover;}
          &.open {
            &:after { @include transform(rotate(-180deg));}
          }
        }
        .enhavo_grid_text { display:none;}
      }
      &:first-child {
        .enhavo_grid_texttext, .enhavo_grid_text{
          .title {
            &:after { @include transform(rotate(-180deg));}
            &.open {
              &:after { @include transform(rotate(0deg));}
            }
          }
          .enhavo_grid_text { display:block;margin-bottom:70px;}
        }
      }
    }
  }
}