.contact-page {
  .content-heading {margin-bottom:95px;}
}

form {
  input {
    border-width: 0 0 1px 0; border-style:solid; border-color:#303030;display:block; width:100%; margin-bottom:35px; color:#303030;-webkit-appearance:none;
    &:last-child { margin-bottom:0;}
    &[type=submit]{background:none; border:0;text-decoration:underline; float:right; display:inline-block;width:auto; padding:0; margin:35px 0 0 0}
  }
  .form-msg { float:left; margin-top:35px; display:none;}
  textarea { width:100%;border-color:#303030;min-height:200px; margin-top:25px; padding:15px 20px;-webkit-appearance:none}
}

textarea, input {
  &:focus {
    outline:0;
    &::-webkit-input-placeholder { opacity:0;@include transition(all .2s);}
    &::-moz-placeholder { opacity:0;@include transition(all .2s);}
    &:-ms-input-placeholder { opacity:0;@include transition(all .2s);}
    &:-moz-placeholder { opacity:0;@include transition(all .2s);}
  }
}

::-webkit-input-placeholder {color:#303030;@include transition(all .2s);}
::-moz-placeholder {color:#303030;@include transition(all .2s);}
:-ms-input-placeholder {color:#303030;@include transition(all .2s);}
:-moz-placeholder {color:#303030;@include transition(all .2s);}