a {
  color:#303030;
  &:hover { text-decoration:underline;color:#303030;}
  &:focus {color:#303030;}
}

body {width: 100%;background-color: #ffffff;font-family:'helvetica', sans-serif;font-weight:normal;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color:#303030;font-size:21px;}

footer {padding:170px 0 24px 0;}

h1, .content-heading { font-size: 51px;line-height: 60px;font-weight:300;}

header {
  padding-top:100px;
  nav {
    margin-top: 79px;
    ul {
      font-size:28px; margin-bottom:28px; float:right;
      li {
        list-style:none;float: left;
        &:last-child {
          a {margin-right:0;}
        }
        a {margin-right:67px; font-weight:500;}
        &.active { text-decoration:underline;}
      }
    }
  }
  .language {
    float: right;
    li {
      display:inline-block;font-size:14px; color:#9c9494; letter-spacing:1px;
      &.active {
        a {color:#de202c;}
      }
      a {color:#9c9494;}
    }
  }
}



.banner {
    display: block;
    margin-bottom: -56px;
    width: 60%;
}


.books-mobile {
    display: none;
}

.books-tablet {
    display: none;
}

.books-rectangle {
    width: 300px;
    height: 368px;
    background-color: #f4f8fa;
}

.button-navigation-mobile {
    display: none;
}



.button-submit:hover{
    background-color: #ffffff;
    border: solid 3px #303030;
    font-weight: bold;
    color: black;
    padding: 5px 60px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    margin-left: 365px;
    font-size: 16px;
}

.contact-impressum {
  text-align:center;
  font-size: 18px;
  margin-left: 0px;
  margin-bottom:80px;
  font-weight:500;
}

.content {
    font-size: 21px;
    line-height: 31px;
    text-align: left;
}



.content-text {
    font-size: 21px;
    margin-left: 0px;
    text-align: center;
}

.impressum-text {
    text-align: left;
    font-size: 21px;
}



.line {
    border: solid 1px #dbdbdb;
    width: 100%;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.line-bottom {border: 0;width: 100%; background:#303030; height:1px;}
.line-top {border:0;width: 100%; height:1px; background:#303030;margin-bottom: 95px;}
.line-spacer { width: 100%;border: solid 1px #dbdbdb;}

.slider {
    width: 170px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

