<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .bannermobile {
            display:none;
        }
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .content {
            display: block;
            text-align: left;
            font-size: 20px;
        }
        .line-bottom {
            margin-top: 150px;
        }
        .language {
            margin-bottom: 50px;
        }
        .authors {
            width: 274px;
            height: 38px;
            font-family: AktivGrotesk;
            font-size: 38px;
            font-weight: 500;
            text-align: left;
            color: #303030;
        }
        .spacer-line {
            width: 52px;
            height: 2px;
            border: solid 2px #303030;
            margin-top: 37px;
        }
        .initial {
            width: 110px;
            height: 150px;
            font-family: liberation_sansregular;
            font-size: 150px;
            font-weight: bold;
            letter-spacing: 5px;
            text-align: left;
            margin-top: 130px;
            margin-bottom: -55px;
            color: #303030;
        }

        /**Tablet*/
        @media only screen and (max-width: 767px) {
            .banner{
                display:none;
            }
            .bannermobile {
                display: block;
            }
            .content-heading {
                margin-top: 50px;
                text-align: center;
                font-size: 40px;
            }
            .thin-font a{
                color: #303030;
            }
            .language {
                margin-bottom: 50px;
            }
            .initial {
                font-size: 110px;
            }
        }
        @media only screen and (max-width: 479px) {
            .banner {
                display: none;
            }
            .bannermobile {
                display: block;
            }
            .language {
                margin-bottom: 50px;
            }
            .content {
                display: block;
                text-align: center;
            }
            .content-heading {
                margin-top: 50px;
                text-align: center;
                font-size: 30px;
            }
            .initial {
                font-size: 80px;
            }
        }
    </style>
    <title>Kunst im Kinderzimmer</title>
</head>

<body class="site">
<header>
    <div class="container">

        <div class="language thin-font">
            <a href="">/EN</a><a style="color:#de202c;" href="">DE</a>
        </div>
        <center><img class="bannermobile" src="banner.png" width="70%"/></center>
        <div class="banner">
             <img class="banner" src="banner.png"/>
        </div>

        <nav class="default-font clearfix">
             <ul class="navigation">
                 <li><a href="/">Home</a></li>
                 <li><a href="/collection">Sammlung</a></li>
                 <li><a href="/blog">Blog</a></li>
                 <li><u><a href="/authors">Künstler</a></u></li>
             </ul>
        </nav>
        <hr class="line-top"/>
    </div>
</header>



<main>
    <div class="container">
        <div class="content-heading default-font">K&uuml;nstlerverzeichnis</div><br/>
        <div class="content row">
            {% for letter, authorData in authors %}
                {% if authorData %}
                    <div class="col-xs-12 col-md-4">
                        <div class="initial">{{ letter }}</div>
                        {% for author in authorData %}
                            <div class="authors"><a class="default-font" href="/list/{{author.name}}">{{ author.name }}<br/></a></div>
                        {% endfor %}
                        <div class="spacer-line default-font"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>


<footer>
    <div class="container">
        <hr class="line-bottom"/>
         <div class="contact-impressum default-font"><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></div>
         <br/><br/>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>