<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .content-tablet {
            display: none;
        }
        .content {
            text-align: left;
            font-size: 20px;
            margin-left: 75px;
        }
        .content-text {
            line-height: 1.48;
            margin-bottom: 35px;
        }
        .language {
            margin-top: 90px;
            margin-right: -35px;
        }
        .line {
            margin-top: 61px;
            border: solid 2px #303030;
        }
        .blog-date {
            margin-top: 80px;
            text-align: left;
            font-size: 20px;
            margin-bottom: 35px;
        }
        .blog-heading {
            text-align: left;
            font-size: 30px;
            margin-bottom: 21px;
        }
        .blog-entry {
            text-align: left;
            font-size: 20px;
            margin-left: 75px;
        }
        .blog-text {
            margin-top: -20px;
            font-size: 15px;
            text-align: left;
        }
        .line-bottom {
            margin-top: 150px;
        }
        .thin-font{
            font-size: 14px;
            letter-spacing: 2.2px;
        }
        @media only screen and (max-width: 767px) {
            .banner {
                margin-left: 50px;
                margin-bottom: 0px;
                width: 85%;
            }
            .blog-entry {
                text-align: left;
                font-size: 20px;
                margin-left: 20px;
            }
            .blog-navigation {
                margin-left: 310px;
            }
            .content {
                display: none;
            }
            .content-tablet {
                display: block;
                text-align: center;
                margin-left: 10px;
            }
            .content-text {
                font-size: 20px;
            }
            .content-heading {
                margin-left: 2px;
                margin-top: 50px;
                text-align: left;
            }
            .content-text {
                margin-left: 2px;
                text-align: left;
                line-height: 1.48;
            }
            .language {
                margin-top: -70px;
                margin-left: 650px;
            }
            .line {
                margin-top: 61px;
                width: 670px;
                margin-left: 35px;
                border: solid 2px #303030;
            }
            .line-bottom {
                margin-top: 100px;
            }
            .thin-font a{
                color: #303030;
            }
        }
        @media only screen and (max-width: 479px) {
            .banner {
                margin-left: 40px;
                margin-bottom: 0px;
                width: 65%;
            }
            .language {
                margin-top: -70px;
                margin-left: 70px;
            }
            .blog-entry {
                text-align: left;
                margin-left: 20px;
            }
            .blog-heading{
                font-size: 26px;
            }
            .blog-text{
                font-size: 12px;
            }
            .blog-navigation {
                text-align: left;
                margin-left: 160px;
            }
            .content-tablet {
                display: none;
            }
            .content {
                display: block;
                text-align: left;
                margin-left: 0px;
            }
            .content-text {
                margin-left: 0px;
                text-align: left;
                font-size: 14px;
            }
            .content-heading {
                margin-left: 2px;
                margin-top: 50px;
                text-align: left;
            }
            .button-reading{
                margin-left: 0px;
            }
            .line {
                margin-top: 61px;
                width: 400px;
                margin-left: 35px;
                border: solid 2px #303030;
            }
            .line-bottom {
                margin-top: 100px;
            }
        }
    </style>
    <title>Kunst im Kinderzimmer</title>
</head>
<body class="site">

<div class="navigation-mobile">
    <button class="menu-button">Menu</button>
    <div class="menu-content">
        <a href="/">Home</a>
        <a href="/collection">Sammlung</a>
        <a href="/blog">Blog</a>
        <a href="/authors">K&uuml;nstler</a>
    </div>
</div>

<div class="language thin-font row">
    <div class="col-sm-9">&nbsp;</div>
    <div class="col-sm-1"><a style="color:#de202c;" href="">DE</a>/<a href="">EN</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>


<div class="banner">
    <img class="banner" src="banner.png">
</div>

<div class="navigation default-font row">
    <div class="col-sm-5">&nbsp;</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1"><a href="/">Home</a></div>
    <div class="col-sm-1"><a href="/collection">Sammlung</a></div>
    <div class="col-sm-1"><u><a href="/blog">Blog</a></u></div>
    <div class="col-sm-1"><a href="/authors">K&uuml;nstler</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>

<hr class="line-top"/>

<div class="content default-font row">
    <div class="col-sm-1"></div>
    <div class="col-xs-8 col-md-11">
        <div class="content-heading default-font">Blog<br/></div>
        <div class="content-text default-font">
            In diesem Blog finden sich Texte von Barbara Scharioth, der Autorin dieser Website, die Fragen der Terminologie,<br/>
            Abgrenzung und Geschichte des Künstlerbilderbuchs diskutieren und sowohl historische Vorläufer beschreiben als<br/>
            auch auf besondere, internationale Funde verweisen.
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="content-tablet default-font row">
    <div class="col-sm-1"></div>
    <div class="col-xs-11">
        <div class="content-heading default-font">Blog<br/></div>
        <div class="content-text default-font">
            In diesem Blog finden sich Texte von Barbara Scharioth, der Autorin dieser Website, die Fragen der Terminologie,<br/>
            Abgrenzung und Geschichte des Künstlerbilderbuchs diskutieren und sowohl historische Vorläufer beschreiben als<br/>
            auch auf besondere, internationale Funde verweisen.
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="blog-entry default-font row">
    <div class="col-sm-1"></div>
    <div class="col-xs-7 col-sm-6 col-md-6">
        <div class="blog-date thin-font">20.07.2017</div>
        <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
        <div class="blog-text default-font">
            Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
            risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
            ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
        </div>
        <br/>
        <input type="submit" class="button-reading" value="Weiterlesen" />
    </div>
    <div class="col-sm-1"></div>
</div>

<hr class="line">

<div class="blog-entry default-font row">
    <div class="col-sm-1"></div>
    <div class="col-xs-7 col-sm-6 col-md-6">
        <div class="blog-date thin-font">20.07.2017</div>
        <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
        <div class="blog-text default-font">
            Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
            risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
            ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
        </div>
        <br/>
        <input type="submit" class="button-reading" value="Weiterlesen" />
    </div>
    <div class="col-sm-1"></div>
</div>

<hr class="line">

<div class="blog-entry default-font row">
    <div class="col-sm-1"></div>
    <div class="col-xs-7 col-sm-6 col-md-6">
        <div class="blog-date thin-font">20.07.2017</div>
        <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
        <div class="blog-text default-font">
            Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
            risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
            ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
        </div>
        <br/>
        <input type="submit" class="button-reading" value="Weiterlesen" />
    </div>
    <div class="col-sm-1"></div>
</div>

<hr class="line">

<div class="blog-navigation">
    <a href="" class="blog-site-button">1</a>
    <a href="" class="blog-site-button" style="background-color: #E8E8E8; color: #000000;">2</a>
    <a href="" class="blog-site-button" style="background-color: #E8E8E8; color: #000000">3</a>
</div>

<hr class="line-bottom"/>
<div class="contact-impressum default-font"><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></div>
<br/><br/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>