<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .language {
            margin-top: 90px;
            margin-right: -35px;
        }
        .content {
            text-align: left;
            font-size: 20px;
            margin-left: 75px;
        }
        .line-bottom {
            margin-top: 150px;
        }
        /**Mobile and XS-Screens**/
        @media only screen and (max-width: 767px) {
            .banner {
                margin-left: 50px;
                margin-bottom: 0px;
                width: 85%;
            }
            .content {
                text-align: center;
                margin-left: 2px;
            }
            .content-heading {
                margin-left: 2px;
                margin-top: 50px;
                text-align: center;
            }
            .line-bottom {
                margin-top: 100px;
            }
        }
    </style>
    <title>Kunst im Kinderzimmer</title>
</head>
<body class="site">
<div class="language thin-font row">
    <div class="col-sm-9">&nbsp;</div>
    <div class="col-sm-1"><a href="">DE</a>/<a href="">EN</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>



<div class="navigation-mobile">
    <button class="menu-button">Menu</button>
    <div class="menu-content">
        <a href="/">Home</a>
        <a href="/collection">Sammlung</a>
        <a href="/blog">Blog</a>
        <a href="/list">K&uuml;nstler</a>
    </div>
    <div class="language-mobile">
        <a href="">DE</a>/<a href="">EN</a>
    </div>
</div>

<div class="banner">
    <img class="banner" src="banner.png">
</div>

<div class="navigation default-font row">
    <div class="col-sm-5">&nbsp;</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1"><a href="/">Home</a></div>
    <div class="col-sm-1"><u><a href="/collection">Sammlung</a></u></div>
    <div class="col-sm-1"><a href="/blog">Blog</a></div>
    <div class="col-sm-1"><a href="/list">K&uuml;nstler</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>

<hr class="line-top"/>

<div class="content default-font row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="content-heading default-font">Sammlung<br/></div>
        <div class="content-text default-font">
            Diese internationale Sammlung von KünstlerBilderBüchern besteht aus Zufallsfunden in Spezialbibliotheken,<br/>
            Buchhandlungen, Antiquariaten, Archiven und Museen, in Büchern über Kunst und Künstler oder auch durch<br/>
            persönliche Kontakte. Sie umfasst einen Zeitraum von über 100 Jahren und Künstler aus mehr als 20 Ländern.
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>

<div class="books-mobile">
    <div class="bookrow-1-mobile row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-1">&nbsp;</div>
    </div>

    <div class="bookrow-2-mobile row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-1">&nbsp;</div>
    </div>

    <div class="bookrow-3-mobile row">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-5"><div class="books-rectangle"></div></div>
        <div class="col-xs-1">&nbsp;</div>
    </div>
</div>

<div class="books">
    <div class="bookrow-1 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
    </div>

    <div class="bookrow-2 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
    </div>

    <div class="bookrow-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><div class="books-rectangle"></div></div>
        <div class="col-sm-1"></div>
    </div>
</div>

<hr class="line-bottom"/>
<div class="contact-impressum default-font"><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></div>
<br/><br/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>