<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .site{
            height: 600px;
        }
        .language {
            margin-top: 90px;
            margin-right: -35px;
        }
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .content {
            text-align: left;
            font-size: 20px;
            margin-left: 75px;
        }
        .line-bottom {
            margin-top: 150px;
        }
        textarea {
            resize: none;
        }
        .form-font {
            font-size: 14px;
            color: #303030;
            text-align: left;
        }
        .button-submit {
            margin-left: 415px;
        }
        /**Mobile and XS-Screens**/
        @media only screen and (max-width: 767px) {
            .banner {
                margin-left: 50px;
                margin-bottom: 0px;
                width: 85%;
            }
            .content {
                text-align: center;
                margin-left: 2px;
            }
            .content-heading {
                margin-left: 2px;
                margin-top: 50px;
                text-align: center;
            }
            .line-bottom {
                margin-top: 100px;
            }
            textarea {
                resize: none;
            }
        }
    </style>
    <title>Kunst im Kinderzimmer</title>
</head>
<body class="site">
<div class="language thin-font row">
    <div class="col-sm-9">&nbsp;</div>
    <div class="col-sm-1"><a href="">DE</a>/<a href="">EN</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>



<div class="navigation-mobile">
    <button class="menu-button">Menu</button>
    <div class="menu-content">
        <a href="/">Home</a>
        <a href="/collection">Sammlung</a>
        <a href="/blog">Blog</a>
        <a href="/list">K&uuml;nstler</a>
    </div>
    <div class="language-mobile">
        <a href="">DE</a>/<a href="">EN</a>
    </div>
</div>

<div class="banner">
    <img class="banner" src="banner.png">
</div>

<div class="navigation default-font row">
    <div class="col-sm-5">&nbsp;</div>
    <div class="col-sm-1">&nbsp</div>
    <div class="col-sm-1"><a href="/">Home</a></div>
    <div class="col-sm-1"><a href="/collection">Sammlung</a></div>
    <div class="col-sm-1"><a href="/blog">Blog</a></div>
    <div class="col-sm-1"><a href="/list">K&uuml;nstler</a></div>
    <div class="col-sm-2">&nbsp;</div>
</div>

<hr class="line-top"/>

<div class="content default-font row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <div class="content-heading ">Kontaktformular</div>
        <div>Für Feedback, Hinweise und Anregungen:</div>
        <form id="contact-form">
            <br/><br/>
            <input class="form-font thin-font" type="text" name="firstname" size="75" placeholder="VORNAME"><br/><br/>
            <input class="form-font thin-font" type="text" name="lastname" size="75" placeholder="NACHNAME"><br/><br/>
            <input class="form-font thin-font" type="email" name="mail" size="75" placeholder="EMAIL ADRESSE"><br/><br/>
            <textarea class="form-font thin-font" name="message" form="contact-form" cols="74" rows="10"></textarea><br/><br/>
            <input type="submit" class="button-submit" value="Absenden" />
        </form>
    </div>
    <div class="col-sm-5">
        <div class="content-heading default-font">Impressum</div>
        <div class="default-font impressum-text">
            © Alle Texte dieser Website sind urheberrechtlich geschützt.<br/><br/>
            Die Bildrechte liegen bei den Verlagen, bzw. den Künstlern und<br/>
            ihren Rechtsnachfolgern.<br/><br/>
            Die Rechte an den Texten liegen bei Barbara Scharioth/<br/>
            KunstimKinderzimmer.<br/><br/>
            Für die Inhalte externer Links wird trotz sorgfältiger inhaltlicher<br/>
            Kontrolle keine Haftung übernommen.
        </div>
    </div>
    <div class="col-sm-2"></div>

</div>

<hr class="line-bottom"/>
<div class="contact-impressum default-font"><u><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></u></div>
<br/><br/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>