<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .bannermobile {
            display: none;
        }
        .language {
            margin-bottom: 50px;
        }
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .impressum-heading{
            margin-top: 15px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .content {
            text-align: left;
            font-size: 20px;
        }
        .contact-form-mobile{
            display:none;
        }
        .contact-form{
            display:block;
        }
        .line-bottom {
            margin-top: 150px;
        }
        textarea {
            resize: none;
        }
        .form-font {
            font-size: 14px;
            color: #303030;
            text-align: left;
            border: none;
        }

        .input {
            border-bottom: 1px solid #CCC;
        }
        .button-submit {
            margin-left: 335px;
        }
        /**Mobile and XS-Screens**/
        @media only screen and (max-width: 767px) {
            .banner {
                margin-left: 50px;
                margin-bottom: 0px;
                width: 85%;
            }
            .content {
                text-align: center;
                margin-left: 20px;
            }
            .content-heading {
                margin-left: 120px;
                margin-top: 50px;
                font-size: 45px;
                text-align: left;
            }
            .content-description{
                text-align: left;
                margin-left:120px;
            }
            .impressum-heading{
                margin-top: 100px;
                text-align: left;
                margin-left: 120px;
                font-size: 45px;
                margin-bottom: 50px;
            }
            .impressum-text{
                font-size:18px;
                text-align: left;
                margin-left: 120px;
            }
            .contact-form{
                display:none;
            }
            .button-submit{
                margin-left:240px;
            }
            .contact-form-mobile{
                display: block;
            }
            .line-bottom {
                margin-top: 100px;
            }
            textarea {
                resize: none;
            }
            .language {
                margin-top: -70px;
                margin-left: 610px;
            }
            .thin-font a{
                color: #303030;
            }
        }
        @media only screen and (max-width: 479px) {
            .banner {
                margin-left: 40px;
                margin-bottom: 0px;
                width: 65%;
            }
            .language {
                margin-top: -70px;
                margin-left: 70px;
            }
            .content {
                margin-left: 2px;
            }
            .contact-form-mobile{
                display: block;
                text-align: left;
            }
            .content-heading{
                text-align: left;
                font-size: 38px;
                margin-left: 0px;
            }
            .content-description{
                text-align: left;
                margin-left:0px;
            }
            .impressum-heading{
                margin-top: 100px;
                text-align: left;
                margin-left: 0px;
                font-size: 40px;
                margin-bottom: 50px;
            }
            .impressum-text{
                margin-left: 2px;
                text-align: left;
                font-size:15px;
            }
        }
    </style>
    <title>Kunst im Kinderzimmer</title>
</head>
<body class="site">
<header>
    <div class="container">

        <div class="language thin-font">
            <a href="">/EN</a><a style="color:#de202c;" href="">DE</a>
        </div>
        <center><img class="bannermobile" src="banner.png" width="70%"/></center>
        <div class="banner">
            <img class="banner" src="banner.png"/>
        </div>

        <nav class="default-font clearfix">
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/collection">Sammlung</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/authors">Künstler</a></li>
            </ul>
        </nav>
        <hr class="line-top"/>
    </div>
</header>

<main>
 <div class="container">
    <div class="content default-font row">
        <div class="col-sm-5">
            <div class="content-heading ">Kontaktformular</div>
            <div class="content-description">Für Feedback, Hinweise und Anregungen:</div>
            <form class="contact-form-mobile">
                <br/><br/>
                <input class="form-font thin-font" type="text" name="firstname" size="53" placeholder="VORNAME"><br/><br/>
                <input class="form-font thin-font" type="text" name="lastname" size="53" placeholder="NACHNAME"><br/><br/>
                <input class="form-font thin-font" type="email" name="mail" size="53" placeholder="EMAIL ADRESSE"><br/><br/>
                <textarea class="form-font thin-font" name="message" form="contact-form" cols="52" rows="10"></textarea><br/><br/>
                <input type="submit" class="button-submit" value="Absenden" />
            </form>

            <form class="contact-form">
                <br/><br/>
                <input class="form-font thin-font input" type="text" name="firstname" size="65" placeholder="VORNAME"><br/><br/>
                <input class="form-font thin-font input" type="text" name="lastname" size="65" placeholder="NACHNAME"><br/><br/>
                <input class="form-font thin-font input" type="email" name="mail" size="65" placeholder="EMAIL ADRESSE"><br/><br/>
                <textarea class=" thin-font" name="message" form="contact-form" cols="64" rows="10"></textarea><br/><br/>
                <input type="submit" class="button-submit" value="Absenden" />
            </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <div class="impressum-heading default-font">Impressum</div>
            <div class="default-font impressum-text">
                © Alle Texte dieser Website sind urheberrechtlich geschützt.<br/><br/>
                Die Bildrechte liegen bei den Verlagen, bzw. den Künstlern und<br/>
                ihren Rechtsnachfolgern.<br/><br/>
                Die Rechte an den Texten liegen bei Barbara Scharioth/<br/>
                KunstimKinderzimmer.<br/><br/>
                Für die Inhalte externer Links wird trotz sorgfältiger inhaltlicher<br/>
                Kontrolle keine Haftung übernommen.
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
 </div>
</main>

<footer>
    <div class="container">
        <hr class="line-bottom"/>
        <div class="contact-impressum default-font"><u><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></u></div>
        <br/><br/>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>