<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kunst im Kinderzimmer</title>
    <style>
        .content{
            font-size: 21px;
            text-align: left;
        }
        .language {
            margin-top: 99px;
        }
        .navigation {
            display: block;
            margin-top: 79px;
            margin-left: 0px;
            color: #605959;
            font-weight: 400;
        }
        .content-heading {
            font-size: 51px;
        }
        .line-bottom {
            margin-top: 300px;
        }
        .content-text {
            margin-left: 50px;
            text-align: left;
            color: #303030;
            line-height: 1.48;
        }
        .slider-div{
            margin-left: 5px;
        }

        @media only screen and (max-width: 767px) {
            .content-heading{
                font-size: 36px;
                text-align: center;

            }
            .navigation {
                display: none;
                margin-top: 5px;
                margin-left: 20px;
            }
            .button-navigation-mobile {
                margin-top: -10px;
            }
            .content {
                margin-left: -20px;
                text-align: center;
            }
            .content-text {
                text-align: center;
                font-size: 18px;
            }
            .language {
                margin-bottom: 50px;
            }
            .thin-font a{
                color: #303030;
            }
            .line-bottom {
                margin-bottom: 5px;
                margin-top: 200px;
            }
        }
        @media only screen and (max-width: 479px) {
            .navigation {
                display: none;
                margin-top: 5px;
                margin-left: 20px;
            }
            .button-navigation-mobile {
                margin-top: -10px;
            }
            .language {
                margin-bottom: 50px;
            }
            .content-heading{
                font-size: 32px;
                text-align: center;
            }
            .content-text{
                font-size: 15px;
            }
            .line-bottom {
                margin-bottom: 5px;
                margin-top: 200px;
            }
        }
    </style>
</head>
<body class="site">
<header>
    <div class="container">

        <div class="language thin-font">
            <a href="">/EN</a><a style="color:#de202c;" href="">DE</a>
        </div>

        <button class="button-navigation-mobile" onclick="mobileNav()">&#9776;</button><br/>

        <nav class="default-font clearfix">
            <ul class="navigation" id="navigation">
                <li><u><a href="/">Home</a></u></li>
                <li><a href="/collection">Sammlung</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/authors">Künstler</a></li>
            </ul>
        </nav>
        <hr class="line-top"/>
    </div>
</header>

<main>
    <div class="container">
        <div class="slider-div row">
             <div class="col-sm-2">&nbsp;</div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2">&nbsp;</div>
        </div>

        <article>
        <div class="content default-font row">
            <div class="content-heading default-font">Gelegentlich kommt die Kunst<br/>ins Kinderzimmer</div>
            <div class="col-sm-6"><div class="default-font content-text">
                Bildende Künstlerinnen und Künstler greifen zu<br/>
                Zeichenstift oder Pinsel, um als gänzlich freie Arbeit<br/>
                ein Buch oder eine Bildermappe für ein bestimmtes<br/>
                Kind zu gestalten, wie das zum Beispiel für Leonora<br/>
                Carrington, Otto Dix oder Keith Haring belegt ist.<br/>
                Oder aus einer spielerischen Fingerübung für das<br/>
                Kind in sich  - Tomi Ungerer hat es einmal so<br/>
                beschrieben -  entsteht eine kunstvolle Text- und<br/>
                Bildfolge, die mit etwas Glück den Weg ins<br/>
                gedruckte Bilderbuch findet. <br/><br/>

                Nicht selten sehen Künstler das gedruckte<br/>
                Bilderbuch auch als ein Medium unter vielen<br/>
                anderen für die Umsetzung ihrer bildnerischen<br/>
                Ideen an, beispielsweise Maurice Sendak, Kveta<br/>
                Pacovska oder Shaun Tan.
                </div>
            </div>
        <div class="col-sm-6"><div class="default-font content-text">
                Diese Sammlung von KünstlerBilderBüchern stellt<br/>
                außergewöhnliche Bilderbücher vor, erzählt von<br/>
                vielen die Geschichte ihrer Entstehung und<br/>
                beschreibt sie im Kontext des Werks der Künstler.<br/>
                Sie existiert als Privatbibliothek und wird fortlaufend<br/>
                weitergeführt. Bei manchen Künstlerbilderbüchern<br/>
                findet sich auch ein Blick ins Innere. Es werden<br/>
                einzelne, besonders eindrucksvolle Seiten gezeigt,<br/>
                die die Formulierung der tschechischen Künstlerin<br/>
                Kveta Pacovska unterstreichen. Sie setzt das<br/>
                Anschauen eines Bilderbuchs mit dem ersten<br/>
                Galeriebesuch eines Kindes gleich.
            </div>
        </div>
        </div>
        </article>
    </div>
</main>

<footer>
    <div class="container">
        <hr class="line-bottom"/>
        <div class="contact-impressum default-font"><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></div>
        <br/><br/>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
    function mobileNav() {
        var x = document.getElementById('navigation');
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
</script>
</body>
</html>