<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="/fontkit/stylesheet.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kunst im Kinderzimmer</title>
    <style>
        .banner {
            margin-left: 90px;
            margin-bottom: -150px;
        }
        .content{
            font-size: 21px;
            text-align: left;
        }
        .content-heading {
            font-size: 51px;
        }
        .line-bottom {
            margin-top: 300px;
        }
        @media only screen and (max-width: 767px) {
            .banner {
                margin-left: 50px;
                margin-bottom: 0px;
            }
            .content {
                margin-left: 2px;
                text-align: center;
            }
            .content-text {
                margin-left: 2px;
                text-align: center;
            }
            .line {
                border: solid 1px #303030;
                width: 745px;
            }
            .slider-div-mobile {
                background-color: #ffffff;
            }
            .slider {
                background-color: #f4f8fa;
            }
        }
    </style>
</head>
<body class="site">
    <div class="language thin-font row">
        <div class="col-sm-9">&nbsp;</div>
        <div class="col-sm-1"><a href="">DE</a>/<a href="">EN</a></div>
        <div class="col-sm-2">&nbsp;</div>
    </div>


    
    <div class="navigation-mobile">
        <button class="menu-button">Menu</button>
        <div class="menu-content">
            <a href="/">Home</a>
            <a href="/collection">Sammlung</a>
            <a href="/blog">Blog</a>
            <a href="/list">K&uuml;nstler</a>
        </div>
        <div class="language-mobile">
            <a href="">DE</a>/<a href="">EN</a>
        </div>
    </div>

    <div class="banner">
        <img class="banner" src="banner.png">
    </div>

    <div class="navigation default-font row">
        <div class="col-sm-5">&nbsp;</div>
        <div class="col-sm-1">&nbsp</div>
        <div class="col-sm-1"><u><a href="/">Home</a></u></div>
        <div class="col-sm-1"><a href="/collection">Sammlung</a></div>
        <div class="col-sm-1"><a href="/blog">Blog</a></div>
        <div class="col-sm-1"><a href="/list">K&uuml;nstler</a></div>
        <div class="col-sm-2">&nbsp;</div>
    </div>

    <div class="slider-div-mobile row">
        <hr class="line">
            <div class="col-xs-3">&nbsp;</div>
            <div class="col-xs-3"><div class="slider">Book1</div></div>
            <div class="col-xs-3"><div class="slider">Book2</div></div>
            <div class="col-xs-3">&nbsp;</div>
        <hr class="line">
    </div>

    <div class="slider-div row">
        <hr class="line">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2"><div class="slider">Book1</div></div>
        <div class="col-sm-2"><div class="slider">Book2</div></div>
        <div class="col-sm-2"><div class="slider">Book3</div></div>
        <div class="col-sm-2"><div class="slider">Book4</div></div>
        <div class="col-sm-2">&nbsp;</div>
        <hr class="line">
    </div>

    <div class="content default-font row">
        <div class="content-heading default-font">Gelegentlich kommt die Kunst<br/>ins Kinderzimmer</div>
        <hr class="line-short"/>
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-4"><div class="default-font content-text">
                Bildende Künstlerinnen und Künstler greifen zu<br/>
                Zeichenstift oder Pinsel, um als gänzlich freie Arbeit<br/>
                ein Buch oder eine Bildermappe für ein bestimmtes<br/>
                Kind zu gestalten, wie das zum Beispiel für Leonora<br/>
                Carrington, Otto Dix oder Keith Haring belegt ist.<br/>
                Oder aus einer spielerischen Fingerübung für das<br/>
                Kind in sich  - Tomi Ungerer hat es einmal so<br/>
                beschrieben -  entsteht eine kunstvolle Text- und<br/>
                Bildfolge, die mit etwas Glück den Weg ins<br/>
                gedruckte Bilderbuch findet. <br/><br/>

                Nicht selten sehen Künstler das gedruckte<br/>
                Bilderbuch auch als ein Medium unter vielen<br/>
                anderen für die Umsetzung ihrer bildnerischen<br/>
                Ideen an, beispielsweise Maurice Sendak, Kveta<br/>
                Pacovska oder Shaun Tan.
            </div>
        </div>
        <div class="col-sm-4"><div class="default-font content-text">
                Diese Sammlung von KünstlerBilderBüchern stellt<br/>
                außergewöhnliche Bilderbücher vor, erzählt von<br/>
                vielen die Geschichte ihrer Entstehung und<br/>
                beschreibt sie im Kontext des Werks der Künstler.<br/>
                Sie existiert als Privatbibliothek und wird fortlaufend<br/>
                weitergeführt. Bei manchen Künstlerbilderbüchern<br/>
                findet sich auch ein Blick ins Innere. Es werden<br/>
                einzelne, besonders eindrucksvolle Seiten gezeigt,<br/>
                die die Formulierung der tschechischen Künstlerin<br/>
                Kveta Pacovska unterstreichen. Sie setzt das<br/>
                Anschauen eines Bilderbuchs mit dem ersten<br/>
                Galeriebesuch eines Kindes gleich.
            </div>
        </div>
        <div class="col-sm-2">&nbsp;</div>
    </div>
    <hr class="line-bottom"/>
    <div class="contact-impressum default-font"><a href="/contact">Impressum&nbsp;/&nbsp;Kontakt</a></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>