<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .Site {
            width: 1750px;
            height: 1863px;
            background-color: #ffffff;
        }
        .Lang {
            font-family: Cousine;
            font-size: 14px;
            letter-spacing: 2.2px;
            text-align: right;
            color: #9c9494;
            margin-top: 39px;
            margin-right: 5px;

        }
        .Nav {
            font-family: AktivGrotesk;
            font-size: 28px;
            font-weight: 500;
            text-align: center;
            color: #605959;
            margin-top: 132px;
        }
        .Rect {
            width: 1750px;
            height: 594px;
            background-color: #f4f8fa;
            text-align: center;
        }
        .Rect2 {
            width: 270px;
            height: 270px;
            background-color: #ffffff;
            text-align: center;
            margin-top: 75px;
        }
        .Rectcap {
            font-family: Cousine;
            font-size: 14px;
            letter-spacing: 2.2px;
            text-align: center;
            color: #9c9494;
            margin-top: 111px;
        }
        .Linesh{
            border: solid 3px #303030;
            width: 88px;
            height: 0px;
            margin-top: 30px;
            margin-bottom: 70px;
        }
        .Cont{
            font-family: AktivGrotesk;
            font-size: 21px;
            line-height: 31px;
            text-align: left;
            color: #303030;
        }
        .Contcap {
            font-family: AktivGrotesk;
            font-size: 51px;
            font-weight: 500;
            line-height: 60px;
            text-align: center;
            color: #303030;
            margin-top: 530px;
        }
        .Linelo{
            border: solid 3px #303030;
            width: 1290px;
            height: 0px;
            margin-top: 650px;
            margin-bottom: 130px;

        }
        .Contact{
            width: 94px;
            height: 18px;
            font-family: AktivGrotesk;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            color: #303030;
            margin-left: 800px;
            margin-top: -100px;
        }

    </style>
</head>
<body class="Site">

    <div class="Lang row">
        <div class="col-xs-12 col-sm-6 col-md-9">&nbsp;</div>
        <div class="col-xs-12 col-sm-6 col-md-1"><a href="">DE</a>/<a href="">EN</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2">&nbsp;</div>
    </div>

    <div class="Nav row">
        <div class="col-xs-12 col-sm-6 col-md-5"><img src="pagebanner.png"></div>
        <div class="col-xs-12 col-sm-6 col-md-1">&nbsp;</div>
        <div class="col-xs-12 col-sm-6 col-md-1"><u><a href="/">Home</a></u></div>
        <div class="col-xs-12 col-sm-6 col-md-1"><a href="/collection">Sammlung</a></div>
        <div class="col-xs-12 col-sm-6 col-md-1"><a href="/blog">Blog</a></div>
        <div class="col-xs-12 col-sm-6 col-md-1"><a href="/list">K&uuml;nstler</a></div>
        <div class="col-xs-12 col-sm-6 col-md-2">&nbsp;</div>
    </div>

    <div class="Rect row">
        <div class="Rectcap"><div>UNSERE B&Uuml;CHERSAMMLUNG</div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2"><div class="Rect2">Book1</div></div>
        <div class="col-md-2"><div class="Rect2">Book2</div></div>
        <div class="col-md-2"><div class="Rect2">Book3</div></div>
        <div class="col-md-2"><div class="Rect2">Book4</div></div>
        <div class="col-md-2">&nbsp;</div>
    </div>

    <div class="Cont row">
        <div class="Contcap">Gelegentlich kommt die Kunst<br/>ins Kinderzimmer</div>
        <hr class="Linesh"/>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-4"><div class="Cont">Zeichenstift oder Pinsel, um als gänzlich freie Arbeit ein Buch oder eine Bildermappe für ein bestimmtes Kind zu gestalten,
                                   wie das zum Beispiel für Leonora Carrington, Otto Dix oder Keith Haring belegt ist.
                                   Oder aus einer spielerischen Fingerübung für das Kind in sich  - Tomi Ungerer hat es einmal so beschrieben -  entsteht eine kunstvolle Text- und Bildfolge,
                                   die mit etwas Glück den Weg ins gedruckte Bilderbuch findet. <br/><br/>
                                   Nicht selten sehen Künstler das gedruckte Bilderbuch auch als ein Medium unter vielen anderen für die Umsetzung ihrer bildnerischen Ideen an,
                                   beispielsweise Maurice Sendak, Kveta Pacovska oder Shaun Tan.
                              </div></div>
        <div class="col-md-4"><div class="Cont">Diese Sammlung von KünstlerBilderBüchern stellt außergewöhnliche Bilderbücher vor,
                                   erzählt von vielen die Geschichte ihrer Entstehung und beschreibt sie im Kontext des Werks der Künstler.
                                   Sie existiert als Privatbibliothek und wird fortlaufend weitergeführt. Bei manchen Künstlerbilderbüchern findet sich auch ein Blick ins Innere.
                                   Es werden einzelne, besonders eindrucksvolle Seiten gezeigt, die die Formulierung der tschechischen Künstlerin Kveta Pacovska unterstreichen.
                                   Sie setzt das Anschauen eines Bilderbuchs mit dem ersten Galeriebesuch eines Kindes gleich.
                              </div></div>
        <div class="col-md-2">&nbsp;</div>
        <hr class="Linelo"/>
        <div class="Contact"><a href="">Impressum&nbsp;/&nbsp;Kontakt</a></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>