{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block style %}

    <style>
        .content-heading {
            margin-top: 0px;
            text-align: left;
            font-size: 50px;
            margin-bottom: 50px;
        }
        .block {
            width: 100%;
            margin-right:300px;
        }
        .language {
            margin-top: 99px;
        }
        .navigation {
            display: block;
            margin-left: 0px;
            margin-top: 99px;
            margin-right: -53px;
            color: #605959;
            font-weight: 400;
        }
        .authors {
            width: 200px;
            font-size: 25px;
            font-family: HelveticaNeue;
            text-align: left;
            font-weight: normal;
            color: #303030;
        }
        .initial {
            width: 110px;
            height: 150px;
            font-family: HelveticaNeue;
            font-size: 65px;
            font-weight: 200;
            letter-spacing: 5px;
            text-align: left;
            margin-top: 130px;
            margin-bottom: -55px;
            color: #303030;
        }
        .line-bottom {
            margin-top: 150px;
        }
        /**Tablet*/
        @media only screen and (max-width: 767px) {
            .content-heading {
                margin-top: 50px;
                text-align: center;
                font-size: 40px;
            }
            .navigation {
                display: none;
                margin-top: 5px;
                margin-left: 20px;
                margin-right: 0px;
            }
            .button-navigation-mobile {
                margin-top: -10px;
            }
            .thin-font a{
                color: #303030;
            }
            .language {
                margin-bottom: 50px;
            }
            .initial {
                font-size: 110px;
            }
        }
        @media only screen and (max-width: 479px) {
            .navigation {
                display: none;
                margin-top: 5px;
                margin-left: 20px;
                margin-right: 0px;
            }
            .button-navigation-mobile {
                margin-top: -10px;
            }
            .language {
                margin-bottom: 50px;
            }
            .content {
                display: block;
                text-align: center;
            }
            .content-heading {
                margin-top: 50px;
                text-align: left;
                font-size: 30px;
            }
            .initial {
                font-size: 80px;
                margin-left: 130px;
            }
        }
    </style>
    {% endblock %}

{% block main %}

    <div class="container">
        <div class="content-heading default-font">K&uuml;nstlerverzeichnis</div><br/>
        <div class="content row">
            {% for letter, authorData in authors %}
                {% if authorData %}
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="block">
                        <div class="initial">{{ letter }}</div>
                        {% for author in authorData %}
                            <a class="default-font authors" href="/list/{{author.name}}">{{ author.name }}<br/></a>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}