{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}

    <div class="container author-page">
        <div class="content-heading default-font">K&uuml;nstlerverzeichnis</div><br/>
        <div class="content row">
            {% for letter, authorData in authors %}
                {% if authorData %}
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="block">
                        <div class="initial">{{ letter }}</div>
                        {% for author in authorData %}
                            <a class="default-font authors" href="/list/{{author.name}}">{{ author.name }}<br/></a>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}