{#{% extends 'ProjectBundle:Theme:base.html.twig' %}#}

{#{% block main %}#}

{#<div class="container blog-page">#}
    {#<h1 class="content-heading">Kunst im Kinderzimmer Blog</h1>#}
    {#<p>#}
        {#In diesem Blog finden sich Texte von Barbara Scharioth, der Autorin dieser Website, die Fragen der Terminologie,#}
        {#Abgrenzung und Geschichte des K체nstlerbilderbuchs diskutieren und sowohl historische Vorl채ufer beschreiben als#}
        {#auch auf besondere, internationale Funde verweisen.#}
    {#</p>#}
    {#<div class="blog">#}
        {#<div class="blog-entry">#}
            {#<div class="blog-date">20.07.2017</div>#}
            {#<div class="blog-heading">Das K체nstlerbilderbuch</div>#}
            {#<p class="blog-text">#}
                {#Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,#}
                {#lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor#}
                {#risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci#}
                {#luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet#}
                {#ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.#}
                {#Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.#}
            {#</p>#}
            {#<a class="button-reading underline-hover">Weiterlesen</a>#}
        {#</div>#}
        {#<div class="blog-entry">#}
            {#<div class="blog-date">20.07.2017</div>#}
            {#<div class="blog-heading">Das K체nstlerbilderbuch</div>#}
            {#<p class="blog-text">#}
                {#Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,#}
                {#lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor#}
                {#risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci#}
                {#luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet#}
                {#ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.#}
                {#Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.#}
            {#</p>#}
            {#<a class="button-reading">Weiterlesen</a>#}
        {#</div>#}
        {#<ul class="blog-pagination">#}
            {#<li class="active"><a href="">1</a></li>#}
            {#<li><a href="">2</a></li>#}
            {#<li><a href="">3</a></li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}

{#{% endblock %}#}