{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}

<div class="container blog-page">
<div class="content default-font row">
    <div class="col-xs-12 col-md-11">
        <div class="content-heading default-font">Blog<br/></div>
        <div class="content-text default-font">
            In diesem Blog finden sich Texte von Barbara Scharioth, der Autorin dieser Website, die Fragen der Terminologie,
            Abgrenzung und Geschichte des Künstlerbilderbuchs diskutieren und sowohl historische Vorläufer beschreiben als
            auch auf besondere, internationale Funde verweisen.
        </div>
    </div>
</div>
<div class="blog">
    <div class="blog-entry default-font row">
            <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="blog-date thin-font">20.07.2017</div>
            <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
            <div class="blog-text default-font">
                Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
                risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
                ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
            </div>
            <br/>
            <u><input type="submit" class="button-reading" value="Weiterlesen" /></u>
        </div>
    </div>
    <hr class="line">
    <div class="blog-entry default-font row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="blog-date thin-font">20.07.2017</div>
            <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
            <div class="blog-text default-font">
                Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
                risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
                ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
            </div>
            <br/>
            <input type="submit" class="button-reading" value="Weiterlesen" />
        </div>
    </div>
    <hr class="line">
    <div class="blog-entry default-font row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="blog-date thin-font">20.07.2017</div>
            <div class="blog-heading default-font">Das Künstlerbilderbuch<br/></div>
            <div class="blog-text default-font">
                Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor
                risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet
                ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
                Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
            </div>
            <br/>
            <input type="submit" class="button-reading" value="Weiterlesen" />
        </div>
    </div>
    </div>
    <hr class="line">

    <div class="blog-navigation">
        <a href="" class="blog-site-button">1</a>
        <a href="" class="blog-site-button" style="background-color: #E8E8E8; color: #000000;">2</a>
        <a href="" class="blog-site-button" style="background-color: #E8E8E8; color: #000000">3</a>
    </div>
</div>

{% endblock %}