{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}
    <div class="container collection-page">
        <h1 class="content-heading">Sammlung</h1>
        <p>
            Diese internationale Sammlung von KünstlerBilderBüchern besteht aus Zufallsfunden in Spezialbibliotheken,
            Buchhandlungen, Antiquariaten, Archiven und Museen, in Büchern über Kunst und Künstler oder auch durch
            persönliche Kontakte. Sie umfasst einen Zeitraum von über 100 Jahren und Künstler aus mehr als 20 Ländern.
        </p>
        {% spaceless %}
            <ul class="books">
                {% for i in 1..10 %}
                <li class="book">
                    <a>
                        {#<img src="/file/{{ i }}" />#}
                        <div class="image">
                            <img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/homepage/2016/homeblock_main_desktop_de_DE_v01.jpg" />
                        </div>
                        <div class="title">Title</div>
                        <div class="author">Author</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    </div>
{% endblock %}