{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}
  <div class="container collection-page">
    <div class="content default-font row">
        <div class="col-xs-12 col-sm-11 col-md-11">
            <div class="content-heading default-font">Sammlung<br/></div>
            <div class="content-text default-font">
                Diese internationale Sammlung von KünstlerBilderBüchern besteht aus Zufallsfunden in Spezialbibliotheken,
                Buchhandlungen, Antiquariaten, Archiven und Museen, in Büchern über Kunst und Künstler oder auch durch
                persönliche Kontakte. Sie umfasst einen Zeitraum von über 100 Jahren und Künstler aus mehr als 20 Ländern.
            </div>
        </div>
    </div>

    <div class="books row">
        {% for i in 1..4 %}
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/file/{{ i }}" /><br/><div class="authortitle-description"><br/>Title</div><div class="authortitle-description" style="color: #9c9494;">Author</div>
            </div>
        {% endfor %}
    </div>
    <hr class="line-spacer"/>
    <div class="books row">
        {% for i in 5..8 %}
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="/file/{{ i }}" /><br/><div class="authortitle-description"><br/>Title</div><div class="authortitle-description" style="color: #9c9494;">Author</div>
            </div>
        {% endfor %}
    </div>
    <hr class="line-spacer"/>
    <div class="books row">
        {% for i in 9..9 %}
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img src="/file/{{ i }}" /><br/><div class="authortitle-description"><br/>Title</div><div class="authortitle-description" style="color: #9c9494;">Author</div>
            </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}