{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}
    <div class="container index-page">
        <div class="head-slider">
            <div class="slider-div">
                <div class="row">
                    {% for i in 1..6 %}
                        <div class="col-xs-6 col-sm-2 col-md-2">
                            <img src="/file/{{ i }}" class="pic{{ i }}" width="100%"/><br/>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider-arrow-left"></div>
            <div class="slider-arrow-right"></div>
            <ul class="slider-nav">
                <li class="slider-dot"></li>
                <li class="slider-dot"></li>
                <li class="slider-dot"></li>
            </ul>
        </div>
        <article>
            <div class="content default-font row">
                <h1 class="content-heading">Gelegentlich kommt die Kunst <br> ins Kinderzimmer</h1>
                <div class="col-sm-6"><div class="default-font content-text">
                        Bildende Künstlerinnen und Künstler greifen zu
                        Zeichenstift oder Pinsel, um als gänzlich freie Arbeit
                        ein Buch oder eine Bildermappe für ein bestimmtes
                        Kind zu gestalten, wie das zum Beispiel für Leonora
                        Carrington, Otto Dix oder Keith Haring belegt ist.
                        Oder aus einer spielerischen Fingerübung für das
                        Kind in sich  - Tomi Ungerer hat es einmal so
                        beschrieben -  entsteht eine kunstvolle Text- und
                        Bildfolge, die mit etwas Glück den Weg ins
                        gedruckte Bilderbuch findet.  <br>
                        <br>
                        Nicht selten sehen Künstler das gedruckte
                        Bilderbuch auch als ein Medium unter vielen
                        anderen für die Umsetzung ihrer bildnerischen
                        Ideen an, beispielsweise Maurice Sendak, Kveta
                        Pacovska oder Shaun Tan.
                    </div>
                </div>
                <div class="col-sm-6"><div class="default-font content-text">
                        Diese Sammlung von KünstlerBilderBüchern stellt
                        außergewöhnliche Bilderbücher vor, erzählt von
                        vielen die Geschichte ihrer Entstehung und
                        beschreibt sie im Kontext des Werks der Künstler.
                        Sie existiert als Privatbibliothek und wird fortlaufend
                        weitergeführt. Bei manchen Künstlerbilderbüchern
                        findet sich auch ein Blick ins Innere. Es werden
                        einzelne, besonders eindrucksvolle Seiten gezeigt,
                        die die Formulierung der tschechischen Künstlerin
                        Kveta Pacovska unterstreichen. Sie setzt das
                        Anschauen eines Bilderbuchs mit dem ersten
                        Galeriebesuch eines Kindes gleich.
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}