{% extends '@Project/Theme/base.html.twig' %}


{% block main %}
    <div class="container page">
        <article>
            {#<div class="publication-date">#}
                {#{{ article.publicationDate|date('d.m.Y') }}#}
            {#</div>#}
            {#<h1 class="article-title">{{ article.title }}</h1>#}
            <div>
                <p>{{ grid_render(book.content) }}</p>
            </div>
        </article>
        {#<a class="btn c2 inline" href="{{ path('marketplace_theme_article_index') }}"><i class="icon-keyboard_arrow_left before-text"></i>Zurück</a>#}
    </div>
{% endblock %}