{% extends 'ProjectBundle:Theme:base.html.twig' %}

{% block main %}
    <div class="container author-page">
        <h1 class="content-heading">{{ translate_string('author.title') }}</h1>
        <ul class="authorlist">
            {% for letter, authorData in authors %}
                {% if loop.index0 %4 == 0 %}
                    <div class="author-row clearfix">
                {% endif %}
                    <li class="authors">
                        <div class="initial">{{ letter }}</div>
                        {% for author in authorData %}
                            <ul>
                                <li>
                                    <a class="underline-hover" href="/list/{{author.name}}">{{ author.name }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                    </li>
                {% if loop.last or loop.index0 %4 == 3 %}
                    </div>
                {% endif %}
            {% endfor %}
            <span class="no-line"></span>
        </ul>
    </div>
{% endblock %}