.authortitle-description{
    font-size: 16px;
    font-family: Helvetica Neue;
    color: #303030;
    font-weight: 300;
    text-align: center;
    line-height: 1.48;
}
.banner {
    display: block;
    margin-bottom: -56px;
    width: 60%;
}
.blog-entry {
    font-size: 21px;
    line-height: 31px;
    text-align: center;
}
.blog-heading {
    font-size: 41px;
    line-height: 60px;

}
.blog-text {
    font-size: 21px;
    margin-left: 0px;
    text-align: left;
    line-height: 1.48;
}
.blog-navigation {
    margin-top: 150px;
}
.blog-site-button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.books {
    display: block;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 52px;
    margin-left: 0px;
}

.books-mobile {
    display: none;
}
.books-tablet {
    display: none;
}
.books-rectangle {
    width: 300px;
    height: 368px;
    background-color: #f4f8fa;
}
.button-reading {
    background-color: #ffffff;
    border: none;
    font-weight: normal;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-submit:hover{
    background-color: #ffffff;
    border: solid 3px #303030;
    font-weight: bold;
    color: black;
    padding: 5px 60px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    margin-left: 365px;
    font-size: 16px;
}
.contact-impressum a {
    color: #303030;
    width: 94px;
    height: 18px;
    font-size: 18px;
    margin-left: 0px;
}
.default-font {
    font-family: Helvetica Neue;
    color: #303030;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.content {
    font-size: 21px;
    line-height: 31px;
    text-align: left;
}
.content-heading {
    font-size: 41px;
    line-height: 60px;
    margin-top: 51px;
    margin-bottom: 53px;
}
.content-text {
    font-size: 21px;
    margin-left: 0px;
    text-align: center;
}
.impressum-text {
    text-align: left;
    font-size: 21px;
}
.language a{
    float: right;
    color: #303030;

}
.line {
    border: solid 1px #dbdbdb;
    width: 100%;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.line-bottom {
    border: solid 1px #605959;
    width: 100%;
    margin-top: 800px;
    margin-bottom: 24px;
}
.line-top {
    border: solid 1px #605959;
    width: 100%;
    margin-bottom: 95px;
}
.line-spacer {
    width: 100%;
    border: solid 1px #dbdbdb;
}
nav ul {
    float: right;
}

nav ul li {
    list-style:none;
    float: left;
}

nav ul li a {
    margin-right: 67px;
}

nav ul li:last-child a {
    margin-right: 0;
}


.navigation a{
    color: #303030;
    font-size: 20px;
}
.button-navigation-mobile {
    display: none;
}
.site {
    width: 100%;
    height: 1863px;
    background-color: #ffffff;
}
.slider{
    width: 170px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.slider-div {
    margin-top: 25px;
    width: 100%;
    height: 294px;
    background-color: #ffffff;
}
.slider-dot{
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #303030;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.slider-arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 15px 8px 0;
    border-color: transparent #303030 transparent transparent;
}
.slider-arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: transparent transparent transparent #303030;
}
.thin-font {
    font-family: cousineregular;
    font-size: 14px;
    letter-spacing: 2.2px;
    color: #9c9494;
    text-align: center;
}
