{% extends '@Project/Theme/base.html.twig' %}

{% block main %}
    <div class="container book-page">
        <article>
            <div class="content-grid">
                {{ grid_render(article.grid) }}
            </div>
        </article>
        <a href="{{ path('project_theme_blog_index_' ~ resolve_locale()) }}" class="back">{{ translate_string('blog.back') }}</a>
    </div>
{% endblock %}